/* Empty. Add your own CSS if you like */
.prlu, .prli, .prli, .date-time {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.helpCont {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
}
.detailsRow {
    display: block;
    clear: both;
      padding-top: 5vh;

}
.ekoLogo {
    margin-top: 3vh;
}
.helpCont {
    
}
.back-icon {
    color: white;
}

.back-button {
    background-color: transparent !important;
}

.details-cont {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
}

.predavacSlika1, .predavacSlika2, .predavacOpis {
    display: inline-block;
    float: left;
}

.predavac-cont {
    margin-top: 3vh;
    background-color: #ededed;
    float: left;
    display: block;
    width: 100%;
}

.imePrezime1, .imePrezime2 {
    font-weight: bold;
    font-size: 16px;
}

.opis {
    margin-top: 2vh;
}

.details-cont {
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vh;
    padding-right: 2vh;
    margin-top: 3vh;
}

.predavac-cont {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vh;
    padding-right: 1vh;
    margin-top: 3vh;
}

.opis, .zivotopis1, .zivotopis2 {
    text-align: justify;
}

.details-row {
    margin-top: 1vh;
    display: block;
    clear: both;
}

.imePrezime1, imePrezime1 {
    margin-top: 2vh;
}

.zivotopis1, .zivotopis2 {
    margin-top: 1vh !important;
}

.detailsLabel {
    font-weight: bold;
    font-size: 16px;
}

.inline-cell {
    display: inline-block;
    float: left;
}

.start {
    white-space: nowrap;
}

.dvorana {
    font-size: 16px;
    white-space: nowrap;
}

.scroll {
    /*height: 100vh;
   overflow-y: auto;*/
}
.prli, .prlu, .dataCont {
    width: 100vw !important;
}
.dataCont {
    display: inline-block;
    width: 100vw;
    
    /* overflow-y: auto;*/
    /* float: left;*/
}
/*
.ion-scroll[direction=x] {
  width: 100vw;

}
.ion-scroll[direction=y] {
  height: 100vh;
    overflow-y: auto;
}*/
.button.button-positive {
    background-color: #e76f00;
}

.overflow-scroll {
    overflow-y: auto;
}

.date-time {
    background-color: #e76f00;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 5px 10px;
    border: 1px solid #CCC;
    cursor: pointer;
}

.date-time-title, .arrow-title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    line-height: 1.5em;
    font-size: 14px;
    color: #fff;
    display: inline-block;
}

.arrow-title, .arrow-time {
    cursor: pointer;
}

.tbl, .tbl-hdr, .date-time-tbl, .tbl-body, .tbl-row, .tbl-body-hdr {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}

.tbl-hdr {
    cursor: pointer;
}

.tbl-hdr, .tbl-row {
    padding: 5px 10px;
    border-bottom: 1px solid #CCC;
}

.tbl-hdr-cell, .tbl-row-cell {
    display: inline-block;
    text-align: left;
}

.left {
    float: left;
}

.right {
    float: right;
}

.date-time-tbl, .tbl-body {
}

.icon-star-favorite {
    color: #e76f00;
}

.icon-star-not-favorite {
    color: #c0c0c0;
}

.tbl-row-cell, .tbl-hdr-cell {
    width: 20%;
    text-align: left;
}

.cell1, .hdr-cell1 {
    width: 75px;
}

.cell2, .hdr-cell2 {
    width: calc(100% - 75px - 10px);
}

.cell3, .hdr-cell3 {
    width: 10px;
    text-align: right;
}


.tbl-row-cell .ion-star {
    text-align: right;
}

.tbl-row:nth-child(odd) {
    background: #F1F2F2;
}


.tbl-body-container {
}

.header {
    display: block;
    clear: both;
    float: left;
}

.actionHeader {
    display: inline-block;
    float: left;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.notExpanded {
    display: none;
}

.notFavoriteHidden {
    display: none;
}

.noDataHidden {
    display: none;
}

.pasedHidden {
    display: none;
}

.predavanjePassed {
    background: #cccccc !important;
}

.activePredavanje {
    background: #3cb371 !important;
}

.header-favorite .item {
    background-color: transparent !important;
    border-color: transparent !important;
    color: white !important;
}

.header-favorite {
    float: right;
}

.dvorana-row {
    cursor: pointer;
    position: relative;
}

    .dvorana-row .cell1 {
        position: absolute;
        top: 6px;
        left: 5px;
        height: calc(100% - 10px);
    }

.predavanje-row .cell2 {
    margin-left: 75px;
}

* {
    font-family: sans-serif;
}

.bar-java-cro {
    border-color: rgb(231, 111, 0);
    background-color: rgb(231, 111, 0);
    color: #fff;
}

.dvorana {
    color: white;
}

.tabs-background-app {
}

.app-title {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 2vw;
    top: 10px;
    display: inline-block;
    font-size: 18px;
    white-space: nowrap;
}

.tabs-striped.tabs-background-positive .tabs {
    border-color: rgb(231, 111, 0);
    background-color: rgb(231, 111, 0);
    background-image: none;
}

.header-favorite {
    position: absolute;
    right: 0px;
    display: table;
}

.favorites-title {
    float: right;
    display: table-cell !important;
    width: 90px !important;
}

.header-favorite .toggle-small {
    padding-top: 0px;
    display: table-cell !important;
    width: 60px !important;
    height: 35px !important;
    padding: 0px;
    float: right;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-content {
    /* z-index: -1;*/
}

.list-content {
    position: relative;
    z-index: 1000;
}

.header-favorite .toggle-calm {
    width: 50px !important;
}

.header-favorite .toggle {
    top: 5px !important;
}

.header-favorite div[ng-transclude] {
    width: 75px !important;
    float: right;
}

    .header-favorite div[ng-transclude] span {
        display: inline-block;
        margin-top: 4px;
        float: right;
        margin-right: 60px;
    }

.header-favorite div[ng-transclude] {
    background-color: transparent !important;
    padding: 0px !important;
    height: 35px !important;
}

.date-time-title {
    white-space: nowrap !important;
}
