<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
     <link href="css/ionic.app.css" rel="stylesheet">
    -->



    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/message.js"></script>
    <script src="js/app.js"></script>

    <script src="js/serverApi.js"></script>
    <!--
    <script src="js/db.js"></script>
    -->
    <link href="css/ui.css" rel="stylesheet">
    <script src="js/cache.js"></script>
    <script src="js/predavanja.js"></script>

    <script>


           
    </script>


</head>

<body>



    <body ng-app="javaCro">
        <ion-spinner icon="spiral"></ion-spinner>
        <ion-header-bar class="bar bar-header bar-java-cro">
            <div class="app-title">Java Cro 2017</div>
            <div ng-controller="SettingsCtrl" class="header-favorite" id="appControler">

                <ion-toggle ng-model="favoritesFilter" class="toggle-small" toggle-class="toggle-calm" ng-change="toggleFavorites()"></ion-toggle>
                <div class="favorites-title">Samo favoriti</div>
            </div>

        </ion-header-bar>
        <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

            <ion-tab title="Home" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline">
                <div class="bar bar-header bar-light">
                    <h1 class="title"></h1>
                </div>

                <ion-content padding class="content content-md list-content" overflow-scroll="false" has-bouncing="false">

                    <div class="dataCont">
                    </div>
					
                </ion-content>
            </ion-tab>


            <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline">
              <div class="bar bar-header bar-light">
                    <h1 class="title"></h1>
                </div>
                <ion-content padding class="content content-md">
                    <div>
                        <div ng-controller="SettingsCtrl">


                            <ion-toggle ng-model="closedFilter" ng-change="toggleClosed()" toggle-class="toggle-calm">Skrivanje završenih</ion-toggle>




                        </div>
                    </div>
                </ion-content>
            </ion-tab>


            <ion-tab title="About" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
               <div class="bar bar-header bar-light">
                    <h1 class="title"></h1>
                </div>
                <ion-content padding class="content content-md">
                    <div class="helpCont">                        

                        <div class="detailsRow">
                            Detalji predavanja dostupni su odabirom dvorane, a odabirom naslova predavanja moguće je pojedino predavanje dodati u favorite.
                        </div>
                        <div class="detailsRow">
                            Prikaz predavanja moguće je filtrirati prema favoritima ili prema aktivnim predavanjima. Popis predavanja na kojem su samo favoriti omogućen je odabirom oznake favoriziranih predavanja u gornjem desnom kutu. Aplikacija, također, omogućuje uklanjanje završenih predavanja s početnog ekrana odabirom navedene opcije u postavkama aplikacije.
                        </div>

                        <div class="detailsRow">
                            
                            EKONERG institut za energetiku i zaštitu okoliša<br/>
                            Odjel za informatiku<br/>

                            <img src="img/ekonerg.png" class="ekoLogo"/>






                        </div>
                    </div>
                </ion-content>
            </ion-tab>

        </ion-tabs>



    </body>




    <!--
    <div class="dataCont">
    </div>
    -->


















</body>

</html>